/* RECHERCHE */
#rechercheExemplaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#rechercheExemplaire p:not(#msgExemplaire), h2{
    font-size: 1.1em;
    margin-right: 10px;
}
#msgExemplaire{
    color: brown;
}

/* FORMULAIRE */
#container-bd {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

select{
    height: 20px;
    padding: 0px;
    font-size: 1.1em;
    width: 195px;
}
#imgBD{
    background-color: white;
    width: 300px;
    height: 400px;
}

label {
    display: inline-block;
    width: 100px;
}
#codeBD, #codeExemplaire {
    width: 30px;
}
#titreBD {
    width: 200px;
}

/* COLONNE 2 DU FORMULAIRE POSITION DE L'IMGA DE COUVERTURE DE LA BD */

#th2 {
     /* border: 1px solid black;  */
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
#th2 h2 {
    font-size: 1.2em;
}
 /* RESPONSIVE */
 @media screen and (max-width:600px){
    #rechercheExemplaire {
        flex-direction: column;
    }
    #container-bd {
        flex-direction: column-reverse;
        align-items: center;
    }
    #imgBD{
        background-color: white;
        width: 250px;
        height: 350px;
        margin-bottom: 20px;
    }
    
}