
@media screen and (min-width:600px){
    /* GENERAL */

    /* SearchDiv */
    #searchDiv{
        background-color: darkgrey;
        height: 300px;
    }
    #searchDiv h1 {
        font-size: 3em;
    }
    #search{
        width: 600px;
    }
    button {
        min-width:120px;
    }
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> origin/Manon
    .casegestion>p {
        display: inline-block;
        white-space: nowrap;
    }
}
<<<<<<< HEAD
=======
>>>>>>> 3236674d086cd47a0961e81606d1e085f76ee734
=======

>>>>>>> origin/Manon
