@media screen and (min-width:600px){
    /*------------------------------------------------------------- GENERAL ----------------------------------------------------------------*/
    body {
        background-color: #e3ded6;
        background-image: url('../image/fond_3.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    } 

    body:before {
        content: unset;
    }

    #header-div {
        height: 120px;
    }

    legend {
        font-size: 2em;
    }

    /*--------------------------------------------------------------- Page accueil ------------------------------------------------------------*/
    /* COMPTE */
    #compte {
        position: absolute;
        width: auto;
        top: 20px;
        right: 20px;

        display: flex;
        flex-direction: column;
    }

    /* SearchDiv */
    #searchDiv{
        height: 300px;
        background-image: url('../image/banner.jpeg');
    }
    #searchDiv h1 {
        font-size: 3em;
    }
    #search{
        width: 600px;
    }
    button {
        min-width:120px;
    }
    .casegestion>p {
        display: inline-block;
        white-space: nowrap;
    }
    
    /*--------------------------------------------------------------------- RECHERCHE -------------------------------------------------------*/
    #rechercheExemplaire {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    #rechercheExemplaire p:not(#msgExemplaire), h2{
        font-size: 1.1em;
        margin-right: 10px;
    }

    #msgExemplaire {
        margin-left: 15px;;
    }

    /*----------------------------------------------------------------------- FORMULAIRE --------------------------------------------------------*/
    #container-bd {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .selectexemp{
        height: 20px;
        padding: 0px;
        font-size: 1.1em;
        width: 195px;
    }
    #imgBD{
        background-color: white;
        width: 300px;
        height: 400px;
    }

    #codeBD, #comments {
        margin-left: unset;
        margin-right: unset;
        width: 100%;
    }

    /* COLONNE 2 DU FORMULAIRE POSITION DE L'IMGA DE COUVERTURE DE LA BD */

    #th2 {
        /* border: 1px solid black;  */
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: flex-start;
        height: 400px;
        margin : 20px;
    }
    #th2 h2 {
        font-size: 1.2em;
    }

    /*----------------------------------------------------------------------- Gestion adhérent ----------------------------------------------------------*/
    #gestionEmpruntRetour {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
    }

    .casegestion {
        width: 45%;
    }

    .adherentselect {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    #adherent {
        padding-bottom: 0px;
    }

    /*----------------------------------------------------------------- Page connexion -------------------------------------------------------------------*/
    /* TITLE PAGE CONNEXION*/
    #connexion-title {
        margin-top: 100px;
        position: relative;
        height: 300px;
    }
    #bubble-connexion-title {
        position: absolute;
        z-index: 1;
        left: -200px;
    }
    #txt-connexion-title{
        position: absolute;
        z-index: 2;
        top: 100px;
        left: -75px;
    }
    #connexion-title img{
        width: 400px;
    }

    /* SECTION */
    #connexion-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #connexion-content div{
        width: 500px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    #btnConnexion{
        display: flex;
        width: 500px;
        align-items: center;
    }
    #comment-connexion{
        width: 600px;
    }
}