/* GENERAL */

@font-face {
    font-family: 'BadaBoom BB';
    src: url('font/BadaBoomBB.woff2') format('woff2'),

        url('font/BadaBoomBB.woff') format('woff');
}

@font-face {
    font-family: 'Comic Book';
    src: url('font/Comic Book.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Comic Book', Helvetica, sans-serif;
    font-size: 14px;
}

body {
    background-color: #e3ded6;
}

h1 {
    font-family: BadaBoom BB, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

li {
    cursor: pointer;
}

button {
    max-width: 120px;

    background:linear-gradient(to bottom, #b3c6cc 5%, #71adb0 100%);
	background-color:#b3c6cc;
    border-radius:8px;
    border: none;
    display:inline-block;
	cursor:pointer;
	color:#151219;
    padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;

}

button:hover {
    background:linear-gradient(to bottom, #71adb0 5%, #b3c6cc 100%);
	background-color:#71adb0;
}

#deconnexion {
    max-width: 150px;
}

/*-------------------------------------------------- SECTION HEADER ---------------------------------------------*/
/* HEADER */
.invisible{
    display: none;
}

header div {
    background-color: #151219;
    background-image: url(fond.png);
}

#connexion {
    position: absolute;
    top: 20px;
    right: 20px;

    transition: all 1s ease-out;
}

#connexion:active {
    top: 22px;
}

#header-div {
    height: 140px;
    box-shadow: 3px 3px 10px -2px #968566;

    position: sticky;
    top: 0;
}

#header-div button {
    max-width: 600px;
    width: 200px;
    border-radius:2px;
    margin-right: 2px;
    background:linear-gradient(to bottom, #ebe7e1 5%, #c4bbab 100%);
	background-color:#c4bbab;
}

#fond {
    box-shadow: none;
}

select {
    padding: 7px 30px 7px 12px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px -2px #968566;
    cursor: pointer;
    text-decoration:none;
	text-shadow:0px 1px 0px #968566;
    transition: all 150ms ease;
    font-size: 1.2em;
    width: 200px;
}
    
option {
    color:#151219;
}

option[disabled] {
    display: none;
}

#retour {
    position: absolute;
    top: 15px;
    left: 15px;
}

/* HEADER ANIME */
header img {
    width: 20px;
}

/* MAIN MENU */
#main-menu {
    position:absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
}

#back {
    position: absolute;
    top: 20px;
    left: 20px;

    transition: all 1s ease-out;
}

/* COMPTE */
#compte {
    position: absolute;
    width: 100%;
    top: 20px;

    display: flex;
    justify-content: space-around;
}

#compte>p {
    font-size: 1.5em;
    margin-bottom: 5px;
    text-align: center;
    color: #c4bbab;
}


/*-------------------------------------------------- SECTION CONTAINER --------------------------------------------*/
.container {
    background-color: rgba(185, 172, 141, 0.719);
    box-shadow: 3px 3px 10px -2px #968566;
    border-radius: 8px;
    padding: 1.5%;
    margin: 20px;
}

.form {
    border-radius: 8px;
    padding: 3%;
    border-color: #dde4ed;
    border: solid 1px;
    text-align: center;
}

legend {
    font-weight: bold;
    font-size: 1.8em;
}

.alerte {
    color: red;
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
    margin: 1em;
}

p>input {
    width: 100%;
    border: 0; 
    padding: 7px 0; 
    border-bottom: 1px solid #151219;
    background-color: rgba(150, 133, 102, 0.445);
}

p>input::placeholder {
    color: #151219;
}

.label {
    font-weight: bold;
    padding: 15px;
    font-size:1.4em ;
}

#btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.recherche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rechercher {
    margin: auto;
    margin-top: 20px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

#results {
    min-height: 100px;
    max-height: 200px;
    max-width:800px;
    overflow-y: scroll;
    text-align: center;
    border: 1px solid black;
    margin: auto;
}

.adherentselect {
    text-align: center;
}

#adherent {
    padding-bottom: 15px;
}

.casegestion {
    position: relative;
    border-radius: 8px;
    padding-top: 70px;;
    padding-bottom: 25px;
    border-color: #dde4ed;
    border: solid 1px;
    margin-bottom: 30px;
    text-align: center;
}

#contenuemprunt {
    padding: 0 15px 0 15px;
}

.positiontitre {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    padding: 10px 0px 10px 0px;
    text-align: center;

    border-color: #dde4ed;
    border-radius: 8px 8px 0px 0px;
    border-bottom: solid 1px;

    background-color: rgb(185, 172, 141);
}

.titre {
    font-size: 1.5em;
    font-weight: bold;
}

.btngestion {
    max-width: 100px;
    min-width: 100px;

    margin: 2% 2% 2% 2%;
    white-space: nowrap;
}

#labeladh {
    font-weight: bold;
    font-size: 1.5em;
}

.icon {
    width: 50px;
}

#rechercheExemplaire {
    flex-direction: column;
}

#container-bd {
    flex-direction: column-reverse;
    align-items: center;
}

#imgBD {
    background-color: white;
    width: 250px;
    height: 350px;
    margin-bottom: 20px;
}


/* --------------------------------------------- SECTION PAGE ACCUEIL ----------------------------------------*/
/* SearchDiv */
#searchDiv{
    background-color: #c8bcac;
    color: #202424;
    height: 200px;

    padding-top: 60px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 3em;
    display: flex;
    text-align: center;
}

#search {
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 8px;
}

/* NewItems */
#newItems h2 {
    margin-left: 20px;
    margin-top: 20px;

    font-size: 1.5em;
}

#newItems img{
    height: 180px;
    width: 134px;
    margin-bottom: 10px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: space-around;
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: #282424;
    color : #8fb8bd;
}
#newItems button{
    margin: 10px;
}



/*---------------------------------------------- SECTION PAGE CONNEXION ---------------------------------------*/


/* SECTION */
#connexion-section{
    padding: 15px;
    justify-content: center;
}
#connexion-content div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#connexion-content input{
    height: 20px;
}
#btnConnexion{
    display: flex;
    align-items: center;
}

/* TITLE PAGE CONNEXION*/
#connexion-title {
    margin-top: 100px;
    position: relative;
    height: 250px;
}
#bubble-connexion-title {
    position: absolute;
    z-index: 1;
    left: 50px;
}
#txt-connexion-title{
    position: absolute;
    z-index: 2;
    top: 65px;
    left: 110px;
}
#connexion-title img{
    width: 300px;
}